/*some browsers resets & fonts*/
h1, h2 {
	margin:0;
}
a {
	text-decoration:none;
}
p {
	color:#5f574f;
	font-size:14px;
}
h2 {
	color:#5f574f;
	font-family:helvetica, sans-serif;
	font-size:20px;
}
h3 {
	color:#5f574f;
	font-size:18px;
}

/*Aligning Elements*/
body { 
	background-color:#EDEDED; 
	font-family:helvetica, sans-serif;
	margin: 0; 
}
.topbar {
	background-color:#fff; 
	border-bottom:1px solid #5f574f; 
	height:80px; 
	width:100%; 
	z-index:-1; 
}
.topbar-wrapper{ 
	margin:0px auto;
	width:960px;
}
#logo {
	float:left; 
	margin:2px 0px 0px -45px;
}
#fb {
	float:right; 
	margin-top:6px;
}   
#yt {
	float:right; 
	margin-top:6px;
}   
#twit {
	display:inline-block;
	float:right;  
	margin-top:6px;
}   
.container {
	background-color:#fff; 
	box-shadow:-2px 13px 18px 4px rgba(0,0,0,0.75);
	margin:-30px auto 10px auto; 
	width:960px; 
}
#wrapper {
	padding:30px 20px 0px 20px;
}
#hero {
	margin-bottom:10px;
}
.left-content{
	float: left;
	padding:10px 35px 0px 0px;
	width: 25%; 
}
.main-content{
	float: left;
	padding:10px 35px 0px 0px;	
	width: 40%; 
}
.right-content{
	display: inline-block; 
	padding:10px 0px 0px 20px;
	width: 25%; 
}
.callout-container {
	margin:100px 0px 40px 0px;
}
.callout-container img {
	border:1px solid #E5E0C7; 
	border-radius:6px;
}
.callout1 {
	float:left; 
	margin-left:50px; 
	margin-right:70px;
	width:220px;
}
.callout2 {
	float:left; 
	margin-right:70px;
	width:220px; 
}
.callout3 {
	display: inline-block;
	width:220px;
}
footer {
	background-color:#8C1515; 
	color:#E5E0C7;
	clear:both;
	font-size:10px;
	height:15px; 
	margin-top:50px; 
	padding:20px; 
}
.utility-links {
	float:left;
}
.utility-links a:link {
	color:#fff;
	padding-right:30px;
}
.utility-links a:hover {
	color:#5f574f;
	padding-right:30px;
}
.copyright{
	float:right; 
	font-size:10px;
}

/*BUTTONS*/
.smallbutton {
	background-color:#E5E0C7; 
	border-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#5f574f;
	font-family:helvectica, sans-serif;
	font-size:12px;
	height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
    line-height:30px;
	float:right;
	}
a.smallbutton:hover {background-color:#5f574f; color:#E5E0C7;}
.mediumbutton {
	background-color:#8C1515; 
	border-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#fff;
	font-family:helvectica, sans-serif;
	font-size:12px;
	height:40px;
	width:110px;
	text-decoration:none;
	text-align:center;
    line-height:30px;
	float:left;
	margin-top:10px;
	}
input[type="submit"]:hover {background-color:#5f574f; color:#E5E0C7;}

/* NAVIGATION */
nav {margin: 0px auto; text-align:center; opacity:1; background-color:#313132; padding:10px 0px; height:30px;}
nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}
nav li{
	margin-top: 9px;
	display:inline;
	margin:0px auto;
	padding-right: 7%;
}
nav li a {color: #fff; font-size: 1.3em; font-family: 'Tahoma';font-weight: lighter; }
nav li a.active {color: #5f574f; border-bottom: 2px solid #fff; }
nav li a:hover {color: #5f574f;}
